{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "semi": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [{
    "files": ".prettierrc",
    "options": {
      "parser": "json"
    }
  }]
}
